includes:
    - ./vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
    level: max
    tmpDir: .cache/phpstan
    paths:
        - app
        - tests
